In [1]:
import pandas as pd
import numpy as np

In [2]:
FILE_PATH = '/Users/nicolas13/Lessons_Netology/Lesson4_1/names/'

In [3]:
def create_names(year, FILE_PATH):
    path = FILE_PATH + 'yob' + str(year) +'.txt'
    names = pd.read_csv(
    path,
    names = ['Name', 'Gender', 'Count']
)
    return names

def count_top3(years):
    for index, year in enumerate(years):
        if index == 0:
            names_all = create_names(year, FILE_PATH)
        else:
            names_all = pd.concat([names_all, create_names(year, FILE_PATH)])
    return list(names_all.groupby('Name', as_index=False).agg({"Count": "sum"}).sort_values(by='Count', ascending=False).head(10).Name.values)[:3]

count_top3([1900, 1950, 2000])

['James', 'John', 'Robert']

In [8]:
def count_dynamics(years):
    for index, year in enumerate(years):
        if index == 0:
            names_all = create_names(year, FILE_PATH)
        else:
            names_all = pd.merge(names_all, create_names(year, FILE_PATH), on=['Name','Gender'])
    return names_all.groupby(['Gender']).sum().reset_index()

count_dynamics([1900, 1950, 2000])

  Gender  Count_x  Count_y    Count
0      F   279397  1389147   670233
1      M   146387  1674575  1262400